
.app {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .fix-menu {
    background-color: rebeccapurple;
    // height: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    
    .brand {
      color: white;
      padding-left: 2px;
      padding-right: 8px;
    }

    .branch-input {
      height: 24px;
      border-radius: 4px;
      border: 0px;
      width: 220px;
      font-size: 16px;
      padding-left: 4px;
      padding-right: 4px;
      margin-right: 8px;
    }

    .mode-btn {
      height: 24px;
      border-radius: 4px;
      padding-left: 4px;
      padding-right: 4px;
      margin-right: 8px;
      font-size: 16px;
      color: dimgray;
    }

    .branch-candidates {
      position: absolute;
      margin-top: 12px;
      border-radius: 4px;
      max-height: 360px;
      overflow-y: scroll;
      background-color: white;

      .candidate-item {
        font-weight: normal;
        padding-left: 8px;
        padding-right: 8px;
      }

      .highlight {
        background-color: lightgray;
      }

      .selected {
        font-weight: bold;
      }

    }

  }

  .main-panel {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;

    .file-tree {
      width: 210px;
      overflow-y: scroll;
      flex-shrink: 0;
    }

    .code-panel {
      flex-grow: 1;
      font-family: monospace;
      overflow-y: hidden;
      flex-flow: row nowrap;

      display: flex;


      .render-panel {
        flex-grow: 1;
        overflow-y: hidden;
      }

    }

    .code-panel.diff-mode {
      overflow-y: hidden;

      .line.default {
        background-color: white;
      }

      .line.remove {
        background: #ffeef0;
      }

      .line.insert {
        background-color: #e6ffed;
      }

    }

    .line-number-area {
      flex-shrink: 0;

      .line-number {
        display: inline-block;
        align-content: center;
        padding-left: 4px;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
      }

    }

  }

  .tree-item {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

}
